@{
    ViewData["Title"] = "Teacher";

    Teachers teacherDetails = ViewData["teacherDetails"] as Teachers;
}


<div class="">
    <header>
        <div class="h-96 w-full relative">
            <img class="absolute top-0 bottom-0 left-0 right-0 object-cover h-full w-full" src="https://designshack.net/wp-content/uploads/placeholder-image.png" alt="">
        </div>
    </header>
</div>