@{
    ViewData["Title"] = "Reset password";
}

<div class="container mt-16 ">
    <div class="mx-10">
        <h2 class="text-3xl font-semibold">Enter you email address</h2>
        <form action="" class="w-full mt-6 max-w-xl validateForm">
            <div>
                <label for="email">E-mail</label>
                <input type="email" placeholder="yourname@schoolname.edu" required class="w-full border-gray-300 rounded-md mt-2">
            </div>
            <button class="mt-6 border border-primary text-white bg-primary py-2 px-4 rounded-md transition-colors hover:bg-white hover:text-primary">
                Submit
            </button>
        </form>
        <p class="mt-4">
            <a asp-controller="authentication" asp-action="login" class="text-primary">Login instead</a>
        </p>
    </div>
</div>
