@model Users

@{
    ViewData["Title"] = "Login";
    string returnUrl = TempData["ReturnUrl"] as string;
}

<div class="container my-16 ">
    <div class="mx-10">
        <h2 class="text-3xl font-semibold">Login</h2>
        <p class="opacity-50 text-xs mb-4 mt-1">If you don't have an account please <a asp-controller="authentication" asp-action="register" class="text-primary">Register</a> and contact your administrator to activate your account <a class="text-primary" href="mailto:support@schoolname.edu">support@schoolname.edu</a></p>

        <p class="text-red-600">
            @TempData["error"]
        </p>

        <form asp-controller="Authentication" asp-action="LoginSave" method="post" class="w-full mt-4 max-w-xl validateForm">
            <input type="text" name="ReturnUrl" value="@returnUrl" hidden>
            <div>
                <label asp-for="Email">E-mail</label>
                <input type="email" asp-for="Email" placeholder="yourname@schoolname.edu" class="w-full border-gray-300 rounded-md mt-2">
            </div>
            <div class="mt-4">
                <label asp-for="Password">Password</label>
                <input type="password" minlength="3" asp-for="Password" placeholder="********" class="w-full border-gray-300 rounded-md mt-2">
            </div>
            <button class="mt-6 border border-primary text-white bg-primary py-2 px-4 rounded-md transition-colors hover:bg-white hover:text-primary">
                Login
            </button>
        </form>
        <p class="mt-4">
            Having trouble signing in? <a asp-controller="authentication" asp-action="forgot-password" class="text-primary"> Reset your password</a>
        </p>
    </div>
</div>
